<div id="game-container">
    
  <% @game.users.each do |user| %>
    <%= user.user_name %> has joined!!!
      <% if user.cards.count < 2 %>
        <% user.draw_card(2) %>
      <% end %>
      
    <% user.cards.each do |card| %>
      <%= image_tag card.name.gsub("app/assets/images/", "") %>
    <% end %>
     <% if user.busted? %>
      Your hand is bust! <%= user.total_value %>
     <% else %>
      <%= user.total_value %>
     <% end %>
    <br>
    <br>

  <% end %>

<% if @game.game_end? && score = @game.who_won? %>  
  <%= @game.winner %>: Won with <%= score %>
  <% elsif @game.game_end? %>
  Push: No winner
<% end %>
  

  <% if !current_user.stay && !current_user.busted? %>
    <%= button_to [:hit, @game] do %>
      HIT
    <% end %> 
  <% end %>
    <%= button_to [:stay, @game] do %>
      STAND
    <% end %>
    <%= button_to [:restart, @game] do %>
      RESTART
    <% end %>

  
</div>