<div id="game-container">

  <% @game.users.each do |user| %>
    <%= user.user_name %> Is in da house!!!
  <% end %>
  <% if current_user.cards.count < 2 %>
    <% current_user.draw_card(2) %>
  <% end %>
  <% current_user.cards.each do |card| %>
    <%= image_tag card.name.gsub("app/assets/images/", "") %>
  <% end %>

  <%= button_to [:hit, @game] do %>
  HIT
  <% end %>
  <%= button_to [:stay, @game] do %>
  
  <% end %>
  
</div>




<!-- <script>
  $(function() {

    // Leave Room on navigating away / exiting page
    $(window).bind('beforeunload', function(e){
      $.ajax({
        url: "<%= user_game_path %>",
        data: { id: <%= current_user.id %> },
        type: "DELETE",
        async: false
      });
    });
  });
</script> -->
